<%- include('../partials/_html-head.ejs', {title: "Edit Listing" }) %>
<%- include('../partials/_nav-bar.ejs') %>
   

 <h1>Edit a listing!</h1>
 <article>
 <form>
     <label for="streetAddress">Address:</label>
    <input type="text" 
    name="streetAddress" 
    id="streetAddress" 
    value="<%= listing.streetAddress %>"
    required>

    <label for ="city">City</label>
    <input type="text" 
    name="city" 
    id="city" 
    value="<%= listing.city %>"
    required>

    <label for="price">Price</label>
    <input type="number" 
    min="0" 
    name="price" 
    id="price" 
    value="<%= listing.price %>"
    required>

    <label for="size">Size</label>
    <input type="number" 
    min="0" 
    name="size" 
    id="size" 
    value="<%= listing.size %>"
    required>

    <button type="submit">Edit Listing</button>
 </form>
 </article>
  </body>
</html>