<!-- views/listings/index.ejs -->

<%- include('../partials/_html-head.ejs', {title: 'Listings' }) %>
<%- include('../partials/_nav-bar.ejs') %>



        <main>
            <h1>Here's all the Listings</h1>
            
            <ul>
                <% listings.forEach((listing) => { %>
                <li>
                 A listing in <%= listing.city %> owned by <%= listing.owner.username %>.
                <a href="/listings/<%= listing._id %>">view more details.</a>
                </li>
             <% }); %>
            </ul>
            <a role = "button" href="/listings/new">Add a New Listing</a>
        </main>
        </body>

        </html>